@import '~styles/variables';

.badge {
  background-color: $peach;
  padding:          2px 5px;
  border-radius:    2px;
  display:          inline-block;
  color:            white;
  margin:           0 7px 4px 0;
}