.home {
  .content {
    margin: 20px 5%;
  }

  .experience-container {
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }

  .activity-container {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }

  .footer {
    text-align: center;
  }
}