@import '~styles/variables';

.hero {
  height:        425px;
  width:         100%;
  background:    $purple; /* fallback for old browsers */
  background:    -webkit-linear-gradient(to left, $background-gradient); /* Chrome 10-25, Safari 5.1-6 */
  background:    linear-gradient(to left, $background-gradient); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 150px;
  box-shadow:    $shadow;

  h1 {
    font-size:     60px;
    margin-bottom: 0;
  }

  h3, h1 {
    color: white;
  }

  .hero-inner {
    text-align: center;
    margin-top: -120px;

    .icon {
      display: inline-block;
      cursor:  pointer;
    }

    .twitter {
      margin-left: 15px;
    }
  }

  .container {
    display:         flex;
    align-items:     center;
    justify-content: center;
  }

  .selfie-container {
    background-image: url('../../../assets/me.jpg');
    background-size:  cover;
    margin:           -165px auto auto;
    background-color: black;
    border:           white 3px solid;
    height:           250px;
    width:            250px;
    border-radius:    125px;
    box-shadow:       $shadow;
  }
}