@import '~styles/variables';

body {
  font-family: 'Montserrat', sans-serif;
  color: $slate;
  font-weight: 300;
  margin: 0;
}

.container {
  max-width: 800px;
  height:    100%;
  margin:    auto;
  padding:   15px;
}

h1, h2 {
  font-weight: 700;
  color: $pale-red;
}

h3, h4 {
  font-weight: 300;
}